<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>本マスタ</title>
 <!--  <link href="/css/loginpage.css" rel="stylesheet"> 
 <script type="text/javascript" src="./js/loginpagecheck.js" ></script>  -->
</head>
<body>
<form class="background" name="myForm" method="post" th:action="@{/loginpage}" onsubmit="return logincheck()">
	<div id="screen" alignt="center">
	<div  align="right"><a href="javascript:window.open('about:blank','_self').close();">閉じる</a></div>

		<h3>ログイン画面</h3>
	</div>
	<p th:if="${param.error}" class="error">管理者IDやパスワードを入力してください。</p>
	<div>
		<p th:text="${message}"></p>
	</div>
	<div >
		<label>管理者ID：</label><br>
		<input type="text" maxlength="4" size="8" id="adminId" name="username"><br><br>
	</div>
	<div>
		<label>パスワード：</label><br>
		<input type="password" maxlength="15" size="20" id="password" name="password" ><br><br>
	</div>
	<div>
		<input type="submit" value="ログイン"  name="btn=">
	</div>
</form>
</body>
</html>